.TodoCounter-titulo{
    position: absolute;
    left: 82px;
    top: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 18px;
    top: 17px;
    border-radius: 50%;
}

.TodoCounter-subtituloHoy{
    position: absolute;
    width: 47px;
    height: 29px;
    left: 18px;
    top: 65px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.TodoCounter-tareasHoy{
    position: absolute;
    width: 58px;
    height: 17px;
    left: 18px;
    top: 100px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #FFFFFF;
}