.TodoSearch{
    position: absolute;
    width: 94%;
    height: 30px;
    left: 12px;
    top: 15px;
    background: rgba(217, 217, 217, 0.17);
    border-radius: 10px;
    border-style: none;
    text-align: center;
}

.TodoSearch::placeholder{
    color: #A5A5A5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.TodoSearch:focus{
    outline-color: #61DAFA;
}